# Fichiers temporaires et de développement
bin.py

# Dossiers de développement
Autre/

# Python cache et bytecode
__pycache__/
*.py[cod]
*$py.class
*.so


# 
Core/__pycache__/*
API/routes/__pycache__/*
API/visualization/__pycache__/*